<div class="col-lg-12">
	<div class="col-lg-6">
		<a class="btn btn-default" ui-sref="session({ 'id' : 'new' })" ng-click="createSession">
			Create New Session
		</a>
	</div>
	<div class="col-lg-6">
		<input type="text" ng-model="sessionId" name="SessionId" placeholder="Session Id" />
		<button class="btn btn-defaul" ng-click="enterSession()">
			Enter Session
		</button>
	</div>
</div>

