<div class="col-lg-12" ng-show="sessionId == 'new'">
	<form class="form-inline">
		<div class="row">
			<div class="form-group col-lg-6">
			  <label for="sessionId" class="col-2 col-form-label">Session Id:</label>
			  <div class="col-10">
			    <input class="form-control" type="text" readonly="readonly" value="" id="sessionId" ng-model="newSession.Id">
			  </div>
			</div>
			<div class="form-check  col-lg-6">
			  <label for="sessionDescription" class="col-2 col-form-label">Description</label>
			  <div class="col-10">
			    <input required class="form-control" type="text" value="" ng-model="newSession.Description" id="newSession.Description">
			  </div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="form-check  col-lg-6">
			  <label for="user" class="col-2 col-form-label">Your Name</label>
			  <div class="col-10">
			    <input required class="form-control" type="text" value="" ng-model="user" id="user">
			  </div>
			</div>
			<div class="form-group col-lg-6">
			  <label for="example-search-input" class="form-check-label">
			  	Is public   
			  	<input class="form-control" type="checkbox" value="" ng-model="newSession.IsPublic" id="isPublic">
			  </label>
			</div>
		</div>
		<br>
	  	<button type="submit" class="btn btn-primary" ng-click="createSession()">Create</button>
	</form>
</div>
<div class="col-lg-12" ng-show="!currentUser && sessionId != 'new'">
	<form class="form-inline">
		<div class="row">
			<div class="form-group col-lg-6">
			  <label for="user" class="col-2 col-form-label">Enter your name to start chatting:</label>
			  <div class="col-10">
			    <input class="form-control" type="text" value="" id="user" ng-model="newUser">
			  </div>
			</div>
		</div>
	  	<button type="submit" class="btn btn-primary" ng-click="addUserToSession(sessionId)">Add and Chat</button>
	</form>
</div>
<div class="col-lg-12" ng-show="currentUser && sessionId != 'new'">
	<div class="col-lg-2">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Current Users</h3>
		  </div>
		  <div class="panel-body">
			<span class="label label-success" ng-repeat="item in session.users">{{item.userName}}</span>
		  </div>
		</div>
	</div>
	<div class="col-lg-10">		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Chats</h3>
			</div>

			<div class="panel-body chatBody" style="background: #e5e5e5;margin: 0;padding: 0 10px 10px;max-height:300px;overflow-x:hidden;">
				<p class="message" ng-repeat="item in session.chat" >{{item.user.userName}} : {{item.message}}</p>
			</div>
		
	        <div class="panel-footer">
            	<form ng-submit="sendMessage()" name="chatForm">
	            	<div class="input-group">
		                <input id="btn-input" type="text" value="" class="form-control input-sm" placeholder="Write your message here.." ng-model="chatMessage" />
		                <span class="input-group-btn">
		                	<button class="btn btn-primary btn-sm" type="submit" id="btn-chat">Send</button>
		                </span>	            
		            </div>
	            </form>
	        </div>
		</div>
	</div>
</div>